  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  .fade-effect {
    animation: fadeInOut 3s ease-in-out infinite;
  }


nav {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 15%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(102, 126, 186, 0.7);
  font-size: 24px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #C8A2C8;
}


nav ul li a.selected {
  color: #452659c9; 
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}


.custom-search:focus {
  border-color: #14b8a6;
  outline: none;
}

.valentine-banner::before{
  content:"";
  position:absolute;
  inset:-80px;
  pointer-events:none;
  z-index:10;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24'%3E%3Cpath fill='%23D4AF37' d='M12 21s-7.2-4.5-9.6-8.7C.8 9.3 2.1 6.5 4.8 5.7c1.6-.5 3.4 0 4.6 1.3L12 9.7l2.6-2.7c1.2-1.3 3-1.8 4.6-1.3 2.7.8 4 3.6 2.4 6.6C19.2 16.5 12 21 12 21z'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size:400px 400px; /* separación */

  opacity: .04; /* más suave */
  filter: '%23E6C87A';

  animation: hearts-fall-soft 22s linear infinite;
}

.valentine-banner::after{
  content:"";
  position:absolute;
  inset:-140px;
  pointer-events:none;
  z-index:1;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='%23BEE7E8' d='M12 21s-7.2-4.5-9.6-8.7C.8 9.3 2.1 6.5 4.8 5.7c1.6-.5 3.4 0 4.6 1.3L12 9.7l2.6-2.7c1.2-1.3 3-1.8 4.6-1.3 2.7.8 4 3.6 2.4 6.6C19.2 16.5 12 21 12 21z'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 1200px 1200px;

  opacity: .04;
  filter: blur(.8px);
  animation: hearts-fall-soft 40s linear infinite reverse;
}

@keyframes hearts-fall-soft{
  0%{
    transform: translateY(-60px);
    background-position: 0 0;
  }
  100%{
    transform: translateY(60px);
    background-position: 0 900px;
  }
}
