<!-- peluches.component.html -->
<div class="h-full bg-pink-50 flex flex-col items-center  overflow-y-auto">
    <!-- Banner -->
    <div
        class="flex flex-col w-full min-h-screen bg-[url('/assets/imagenes/2-1920x800.jpg')] bg-cover bg-center flex items-center justify-start pt-4">
        <div class="flex justify-center w-full">
            <img src="/assets/imagenes/logo-transparent.png" class="h-55 w-auto" alt="Play Land Logo" />
        </div>
        <div class="w-full flex flex-col gap-4 p-8 text-center">
            <h1 class="text-4xl md:text-5xl font-extrabold text-sky-800 drop-shadow-md">
                ¡Colección de Peluches!
            </h1>
            <p class="text-lg md:text-xl text-gray-600 mt-2">
                Tiernos, suaves y con descuentos increíbles
            </p>
            <h2
                class="pt-8 text-6xl md:text-8xl font-extrabold text-white drop-shadow-2xl tracking-wide text-center fade-effect">
                ¡Descubre nuestras ofertas!
            </h2>

        </div>

    </div>
    <!-- Mensaje informativo -->
<div class="container mx-auto my-4 p-6 bg-[url('/assets/imagenes/sell-banner-578x450.jpg')] bg-cover bg-start border border-teal-200 rounded-2xl shadow-md text-gray-800 text-center space-y-2">
  <p class="text-lg font-semibold text-teal-700">¡Lista de Peluches con Descuento!</p>
  <p class="text-sm md:text-base">
    Para confirmar su pedido puede llamar al <span class="font-bold">70315404</span> o pasar por nuestra tienda en la calle 
    <span class="font-bold">Aniceto Arce 489</span>.
  </p>
    <p class="text-sm md:text-base">
    Atención de <span class="font-bold">lunes a viernes de 09:00 a 12:00 y de 14:00 a 20:00</span>, y <span class="font-bold">sábado de 14:00 a 20:00</span>. Se realizan envíos a nivel nacional e interprovincial.
    </p>

  <p class="text-sm md:text-base">
    Por su compra, tiene derecho a una rifa que se sorteará el <span class="font-bold">20 de septiembre a las 3:30 PM</span>.
  </p>
  <h1 class=" text-teal-800 font-bold">
    Todos los descuentos son válidos hasta el <span>5 de septiembre</span>.
  </h1>
</div>


    <!-- Filtro global + Ordenamiento -->
        <div class="container flex flex-col sm:flex-row justify-between items-center w-full pt-8 py-4 gap-4">
            
            <!-- Search global -->
            <input
            pInputText
            type="text"
            placeholder="Buscar peluche..."
            [(ngModel)]="searchTerm"
            class="border rounded-lg px-3 py-2 text-gray-700 w-full sm:w-64 text-lg"
            />

            <!-- Ordenamiento -->
             <div>
            <span class="material-icons text-gray-300 mr-2 text-2xl hidden sm:inline">sort</span>
            <p-dropdown
            [options]="opcionesOrden"
            [(ngModel)]="ordenSeleccionado"
            placeholder="Ordenar peluches"
            optionLabel="label"
            (onChange)="ordenarPeluches()"
            class="w-full sm:w-64 text-lg"
            [showClear]="false"
            >
            </p-dropdown>
             </div>

        </div>



    <div class="container mx-auto py-10 grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 ">
        @for(peluche of list  | search:searchTerm; track $index){
        <div
            class="bg-white rounded-2xl shadow-lg hover:shadow-2xl transition p-4 flex flex-col items-center relative overflow-hidden">
            <!-- Imagen -->
            <div class="relative group cursor-pointer" (click)="abrirModal(peluche)">
                <div class="w-full h-56 overflow-hidden rounded-xl">
                    <img [src]="peluche.img" [alt]="peluche.nombre"
                        class="w-full h-full object-cover transition-transform group-hover:scale-105" />
                </div>

                <div
                    class="absolute top-2 left-2 bg-red-500 text-white px-3 py-1 rounded-full text-sm font-bold shadow-md">
                    -{{peluche.descuento}}%
                </div>
            </div>

            <!-- Info -->
            <h2 class="mt-4 text-xl font-bold text-gray-800">{{peluche.nombre}}</h2>
            <p class="text-gray-500 line-through">Bs {{peluche.precio}}</p>
            <p class="text-2xl font-extrabold text-pink-600">
                Bs {{calcularPrecioFinal(peluche.precio, peluche.descuento)}}
            </p>
        </div>
        }
    </div>
    @if((list | search:searchTerm).length === 0){
    <div  class="w-full text-center py-10 text-gray-500 text-lg">
    No se encontraron peluches que coincidan con tu búsqueda.
    </div>
    }

    <!-- Modal -->
    @if(seleccionado){
    <div class="fixed inset-0 bg-black bg-opacity-70 flex justify-center items-center z-50">
        <div class="bg-white rounded-2xl p-6 relative max-w-lg w-full">
            <button class="absolute top-3 right-3 text-gray-500 hover:text-gray-900 text-xl" (click)="cerrarModal()">
                ✖
            </button>
            <img [src]="seleccionado.img" [alt]="seleccionado.nombre" class="rounded-xl w-full object-cover mb-4" />
            <h2 class="text-2xl font-bold text-gray-800">{{seleccionado.nombre}}</h2>
            <p class="text-gray-500 line-through">Bs {{seleccionado.precio}}</p>
            <p class="text-3xl font-extrabold text-pink-600">
                Bs {{calcularPrecioFinal(seleccionado.precio, seleccionado.descuento)}}
            </p>
        </div>
    </div>
    }
    <div class="pb-16"></div>
    
<footer class="fixed bottom-0 left-0 w-full h-12 px-4 flex justify-center items-center bg-sky-800 text-white border-t border-sky-700">
  <span>Play Land - All reserved rights</span>
</footer>

    
</div>
