.text-righteous {
    font-family: 'Righteous', serif;
}

.line-toys {
    background-color: #2E6BBC;
    border-radius: 0px 50px 50px 0px;
    width: 80%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.text-title {
   font-size: 50px;
   color: #2E6BBC;
   margin: auto;
}

.pl-order {
    position: relative;
    left: 10px;
}

.light-green {
    color: #6D8A77;
}

.light-green-2 {
    color: #3e5342;
}

.bg-light-green-2 {
    background-color: #F0F4D6;
}

.badge-custom {
    border-radius: 25px;
    position: relative;
    left: 38px;
    font-size: 20px;
}