@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:e400,200,300,600,700,900);


.text-righteous {
  font-family: 'Righteous', serif;
}

.line-toys {
  background-color: #2E6BBC;
  border-radius: 0px 50px 50px 0px;
  width: 80%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.text-title {
  font-size: 50px;
  color: #2E6BBC;
  margin: auto;
}

.pl-order {
  position: relative;
  left: 10px;
}

.light-green {
  color: #6D8A77;
}

.light-green-2 {
  color: #3e5342;
}

.bg-light-green-2 {
  background-color: #F0F4D6;
}

.badge-custom {
  border-radius: 25px;
  position: relative;
  left: 38px;
  font-size: 20px;
}

.position-search {
  position: relative;
  left: 30px;
}


// cards for product

// font stuff

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.bg-open {
  background: #88bdc1 !important;
}

.no-touch a.btn:hover {
  background: lighten(#0096a0, 2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(#0096a0, 2.5);
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;
  }

  .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;

    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;

      span {
        background: #ffffff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }

    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;

      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }

}




 div.card.show {

 div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
  }
} 


.text-red {
  color: #E02C5E !important;
}

.overflow_hidden {
  overflow: hidden;
}


/* Animación con keyframe llamada "latidos" */
@keyframes latidos {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.4);
  }

  to {
    transform: none;
  }
}

.corazon {
  display: inline-block;
  font-size: 350px;
  text-shadow: 0 0 10px #c16565, 1px 1px 0 #450505;
  color: #E02C5E;
  animation: latidos .8s infinite;
  transform-origin: center;
  position: fixed;
  top: 0%;
  left: 40%;
  z-index: 100;
}

.line  {
  animation: slide-in-right 10s ease;
}

@keyframes slide-in-right {
  from {
      margin-left: 100%;
  }

  to {
      margin-left: 0;
  }
}


.top-icon {
  position: relative;
  top: 5px;
}

.btn-cart {
  border: 1px solid #dee2e6;
  color: #6c757d;
  height: 25px;
  font-size: 10px;
  font-weight: bolder;
}

.btn-cart:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.input-number-cart {
    width: 55px;
    display: inline;
    height: 25px;
    border: 1px solid #dee2e6;
    padding-right: 0px;
    font-size: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.card-open {
  position: absolute;
  background: #ffffff;
  width: 100.5%;
  top: 97%;
  border: 2px solid #dee2e6;
  border-top: none;
  left: -1px;
}

.backdrop {
  z-index: 10;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
}
.opacity-card {
  opacity: 0.3;
  pointer-events: none;
}