
<div class="cont">
    <div class="mouse"></div>
    <div class="app">
      <div class="app__bgimg">
        <div class="app__bgimg-image app__bgimg-image--1"></div>
        <div class="app__bgimg-image app__bgimg-image--2"></div>
      </div>
      <div class="app__img">
        <img (mousedown)="preventDefault($event)" src="../../../assets/imagenes/whiteTest5.png" alt="city" />
      </div>
      <div class="app__text app__text--1 " [ngClass]="!isMobile ? 'box--1' : 'box--1-mobile'">
        <div class="app__text-line app__text-line--4">
          <h1 data-shadow='Play Land!' > Play Land! </h1>
        </div>
        <div class="app__text-line app__text-line--2 text-center" >
          <p class="msg">  Los juguetes mas novedosos para los mas consentidos de la casa  </p>
        </div>
      </div>

      <div class="app__text app__text--2"  [ngClass]="{'box--2-mobile': isMobile}">
        <div class="app__text-line app__text-line--4 text-righteous">Juguetes</div>
        <div class="app__text-line app__text-line--3 text-righteous">peluches</div>
        <div class="app__text-line app__text-line--2 text-righteous">y mucho mas!!</div>
      </div>

    </div>
    <div class="pages">
      <ul class="pages__list">
        <li (click)="handlePageItemClick(1)" [class.page__item-active]="curSlide === 1" data-target="1" class="pages__item pages__item--1"></li>
        <li (click)="handlePageItemClick(2)" [class.page__item-active]="curSlide === 2" data-target="2" class="pages__item pages__item--2"></li>
      </ul>
    </div>
  </div>
  