<div class="p-6 flex flex-col gap-2 rounded-lg shadow-md bg-white">
    <div class="flex justify-end">
            <p-datepicker 
                [(ngModel)]="fecha" 
                [showClear]="true"
                [appendTo]="'body'"
                dateFormat="dd/mm/yy"
            />
    </div>
    <div>
          <button 
                    (click)="addProduct()"
                    class="bg-primary-500 w-full h-fit text-white px-4 py-1 rounded mr-2 hover:bg-primary-300 transition"
                    type="button">
                Agregar Producto
            </button>
        <br>
        @if(viewProduct) {
        <div class="mt-6" [formGroup]="form">
            <label class="block font-bold mb-2">Productos:</label>
            <div class="overflow-auto rounded border">
                <table class="min-w-full table-fixed text-sm" formArrayName="productos">
                    <thead>
                        <tr class="bg-gray-100 text-gray-700">
                            <th class="w-1/4 p-2">Producto</th>
                            <th class="w-1/6 p-2">Cantidad</th>
                            <th class="w-1/6 p-2">Precio</th>
                            <th class="w-1/6 p-2">Tipo de Pago</th>
                            <th class="w-1/6 p-2">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(producto of productos.controls; track $index) {
                        <tr [formGroupName]="$index">
                            <!-- Producto -->
                            <td class="p-2">
                                <input type="text" pInputText class="w-full" formControlName="nombre" required />
                                @if (producto.get('nombre')?.invalid && (producto.get('nombre')?.touched ||
                                producto.get('nombre')?.dirty)) {
                                <div class="text-red-500 text-xs mt-1">
                                    El nombre es obligatorio
                                </div>
                                }
                            </td>

                            <!-- Cantidad -->
                            <td class="p-2">
                                <input type="number" pInputText class="w-full" formControlName="cantidad" required
                                    min="1" />
                                @if (producto.get('cantidad')?.invalid && (producto.get('cantidad')?.touched ||
                                producto.get('cantidad')?.dirty)) {
                                <div class="text-red-500 text-xs mt-1">
                                    Ingrese una cantidad válida
                                </div>
                                }
                            </td>

                            <!-- Precio -->
                            <td class="p-2">
                                <input type="number" pInputText class="w-full" formControlName="precio" required
                                    min="0" />
                                @if (producto.get('precio')?.invalid && (producto.get('precio')?.touched ||
                                producto.get('precio')?.dirty)) {
                                <div class="text-red-500 text-xs mt-1">
                                    Ingrese un precio válido
                                </div>
                                }
                            </td>

                            <!-- Tipo de Pago -->
                            <td class="p-2">
                                <p-dropdown [options]="tiposPago" formControlName="tipoPago" optionLabel="label"
                                    optionValue="value" appendTo="body" placeholder="Seleccione tipo de pago" required>
                                </p-dropdown>
                                @if (producto.get('tipoPago')?.invalid && (producto.get('tipoPago')?.touched ||
                                producto.get('tipoPago')?.dirty)) {
                                <div class="text-red-500 text-xs mt-1">
                                    Seleccione un tipo de pago
                                </div>
                                }
                            </td>
                           <!--  Nota -->
                            <td>
                                <input type="text" pInputText formControlName="nota"
                                    min="1" /> 
                            </td>
                              <!-- Botón eliminar -->
                             <td class="p-2 text-center">
                                <button type="button" class="text-red-500 hover:text-red-700" (click)="removeProduct($index)">
                                Eliminar
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex justify-end mt-4">
            <div class="text-lg font-bold">
                Total: {{ totalCompra }} Bs.
            </div>
        </div>

        }
        <div class="flex justify-end gap-3 mt-4">
            <button class="btn btn-sm bg-gray-600 text-white py-3 px-4" (click)="ref.close()"> Cancelar </button>
            <button class="btn btn-sm btn-primary py-3 px-4" (click)="save()"> Guardar </button>
        </div>
    </div>
    <br><br><br>
</div>