<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <!-- Icono en el lado izquierdo -->
    <a class="navbar-brand" href="#">
        <img src="../../assets/imagenes/logo.png" class="logo" alt="Icono"> 
    </a>

    <!-- Botones en el centro -->
    <div class="navbar-nav mx-auto d-flex align-items-center">
        <a class="nav-item nav-link menu-toy text-center" href="#">Productos</a>
        <a class="nav-item nav-link menu-teddy mx-4 text-center" href="#">Ofertas</a>
        <a class="nav-item nav-link menu-other text-center" href="#">Contáctanos</a>
    </div>

    <!-- Íconos en la parte derecha alineados al final -->
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#">
            <i class="mdi mdi-cart mdi-24px gray" ></i>
        </a>
        <a class="nav-item nav-link" href="#">
            <i class="mdi mdi-facebook mdi-24px gray"></i>
        </a>
    </div>
</nav>
<div>
    <app-banner></app-banner>
</div>

<router-outlet></router-outlet>

<footer class="py-3 my-4 w-100 ">
      <p class="text-center text-muted">© 2023 Mabel Sara Achá Moya</p>
 </footer>
