.menu-toy {
    background: #2E6BBC;
    padding: 10px 30px 0px 30px;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    width: 120px;
}
.menu-teddy {
    background: #E02C5E;
    padding: 10px 30px 0px 30px;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    width: 120px;
}
.menu-other {
    background: #E0C743;
    padding: 10px 30px 0px 30px;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    width: 120px;
}
.menu-toy:hover {
    border-radius: 100px 100px 0px 0px;
    transition: 3s;
}

.menu-teddy:hover {
    border-radius: 100px 100px 0px 0px;
    transition: 3s;
}

.menu-other:hover {
    border-radius: 100px 100px 0px 0px;
    transition: 3s;
}

.gray {
    color: #696e74;
}

.logo {
    position: absolute;
    top: 0px;
    width: 67px;
    left: 25px;
}