<div class="d-flex">
    <div class="line-ofertas"> </div>
    <div class="text-righteous text-title line">
        <p class="mb-0">Ofertas</p>
    </div>
</div>
<div class="container d-flex justify-content-between pt-5">
    <div class="row"> 
       
        <div class="col-md-6 col-sm-12 col-lg-6 text-righteous text-center top-70">
            <p class="subtitle"> ¡Ofertas Mágicas por Tiempo Limitado! </p>
            <small class="date-expired"> Del 11/01/2024 al 20/01/2024 </small> <br>
            <small class="text-one"> ¡No esperes más, consiente a tus pequeños con los mejores regalos!  </small>  <br>
            <small class="text-two">¡Compra ahora y crea sonrisas inolvidables!</small><br>
            <small class="text-three">¡Hasta agotar existencias!</small>
            <div class="pt-3">
                <p class="text-ofertas" > Scooter kawai</p>
                <img src="../../../assets/imagenes/ofertas/oferta 2.png" alt="oferta"  class="card-oferta">
                <div style="position: relative;"><img class="img-1" src="../../../assets/imagenes/tienda/ART-3-1.jpg" alt="img"> 
                <p class="monto-1"> 180</p><span class="bs-1">Bs</span></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="pt-3">
                <p class="text-ofertas-2 text-righteous">Rodador Avioncito</p>
                <img src="../../../assets/imagenes/ofertas/oferta 1.png" alt="oferta"  class="card-oferta">
                <div style="position: relative; font-weight: 700;"><img class="img-2" src="../../../assets/imagenes/tienda/ART-2-2.jpg" alt="img"> 
                <p class="monto-2"> 190</p><span class="bs-2">Bs</span></div>
            </div>
        </div>
   </div>
</div>
<br><br>
