<div class="bg-gray-200 h-screen flex flex-col">
  <div class="flex-1 flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-gray-800">404</h1>
      <p class="text-2xl text-gray-800">Page not found</p>
      @if (previousUrl) {
        <button (click)="goBack()" class="text-blue-500 hover:underline">
          {{ "zn45.previousUrl" | translate }}
        </button>
      } @else {
        <button (click)="goLogin()" class="text-blue-500 hover:underline">
          {{ "zn45.goToLogin" | translate }}
        </button>
      }
    </div>
  </div>
</div>
